.page-footer__logo {
  color: $colorHero;
  text-decoration: none;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
}

.page-footer__logo--secondary {
  color: $colorSecondary;
}
