.checkbox__lable {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--colorTertiary);
  cursor: pointer;
}
.checkbox__lable span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--colorPrimary);
  border-radius: 2px;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}

.checkbox__icon {
  fill: transparent;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__input:checked + .checkbox__lable span {
  background-color: var(--colorSecondary);
  border: none;
}

.checkbox__input:focus + .checkbox__lable span {
  border-radius: 2px;
  border: 2px solid var(--colorSecondary);
}

.checkbox__input:checked + .checkbox__lable .checkbox__icon {
  fill: var(--bgColorPrimary);
}

.checkbox__terms {
  margin-left: 3px;
  color: var(--colorSecondary);
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 90%;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}
