.fieldset__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding-left: 42px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fieldset__input:focus {
  border: 1px solid var(--colorSecondary);
}

.fieldset__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: var(--colorPrimary);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fieldset__input:focus + .fieldset__icon {
  fill: var(--colorSecondary);
}

.fieldset__wrapper {
  position: relative;
  display: flex;
  margin-bottom: 10px;
}

.fieldset__label {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--colorTertiary);

  margin-bottom: 4px;
}

.fieldset__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;
}

.fieldset__comment::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.fieldset__comment:focus {
  border: 1px solid var(--colorSecondary);
}

.fieldset__send {
  color: var(--btncolorPrimary);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  background: var(--btnbgColor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  border: none;

  min-width: 200px;
  height: 50px;

  padding: 10px 55px;
  cursor: pointer;

  margin-left: auto;
  margin-right: auto;

  margin-top: 30px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fieldset__send:hover,
.fieldset__send:focus {
  background-color: var(--btnbgColorHov);
}
