.header {
  border-bottom: 1px solid #ececec;
}

.page-header {
  display: flex;
  align-items: center;
}

.header__logo {
  color: var(--colorLogoPrimary);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header__logo--secondary {
  color: var(--colorSecondary);
}
