.social {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social__item:not(:first-child) {
  margin-left: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--colorSecondary);
  border-color: var(--colorSecondary);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--bgcolorquaternary);
}
