.customers {
  @include section;
}

.customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.customers__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.customers__link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 16px 32px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;

  &:hover,
  &:focus {
    border-color: $btnbgColor;
  }
}

.customers__item:not(:first-child) {
  margin-left: 30px;
}

.customers__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .customers__link:hover &,
  .customers__link:focus & {
    fill: $colorSecondary;
  }
}
