.hero {
  background-color: $bgColorSecondary;
  padding: 200px 0px;
  text-align: center;
  margin: auto auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
}
.hero__title {
  color: $colorHero;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: auto;
  margin-bottom: 30px;
}

.backdrop .is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hero__btn {
  color: $btncolorPrimary;
  background-color: $btnbgColor;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;

  &:hover,
  &:focus {
    background-color: $btnbgColorHov;
  }
}
