.subscription {
  margin-left: 93px;
}

.subscription__form {
  display: flex;
  flex-direction: column;
}

.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--colorHero);
  min-width: 219px;
  height: 16px;

  margin-bottom: 20px;
}

.subscription__wrapper {
  display: flex;
}

.subscription__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  padding: 15px 0px 15px 16px;
  background-color: var(--bgColorSecondary);

  color: var(--colorHero);
}

.subscription__icon {
  margin-left: 10px;
  fill: var(--colorHero);
}

.subscription__input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(255, 255, 255, 0.6);
}

.subscription__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--colorHero);
  border: none;

  display: flex;
  align-items: center;
  text-align: center;

  min-width: 200px;
  height: 50px;

  margin-left: 12px;
  padding: 10px 28px 10px 29px;

  background: var(--btnbgColor);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
